name: setup-ninja

on: [pull_request]

jobs:
  test:
    name: test
    runs-on: ${{ matrix.image }}

    strategy:
      matrix:
        image: [ 'windows-latest', 'ubuntu-latest', 'macos-latest' ]

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
      - uses: ./setup-ninja
      - run: ninja --version