name: setup-ninja

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: test
    runs-on: ${{ matrix.image }}

    strategy:
      fail-fast: false
      matrix:
        image: [ 'windows-latest', 'ubuntu-latest', 'macos-latest', 'ubuntu-24.04-arm' ]
        version: [ '1.9.0', '1.10.2', '1.11.1', '1.12.1' ]

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: ./
        with:
          version: '${{ matrix.version }}'
      - shell: bash
        run: '[ "$(ninja --version)" == "${{ matrix.version }}" ]'
